<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style></style>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
                <h5 class="text-light" th:text="${authorityUser.email} + ' with roles: ' +
    ${#strings.setJoin(authorityUser.getAuthorities, ', ')}"></h5>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/login?logout" method="post">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            </br>


            <div class="row">

                <div class="col-md-2">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-adminPage"
                           role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>

                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-userInfo"
                           role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
                    </div>
                </div>

                <div class="col-md-10">

                    <div class="tab-content" id="v-pills-tabContent">


                        <div class="tab-pane active" id="v-pills-adminPage" role="tabpanel" aria-labelledby="home-tab">
                            <h3>
                                Admin panel
                            </h3>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#userTable"
                                       role="tab" aria-controls="home" aria-selected="true">Users table</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#addUser" role="tab"
                                       aria-controls="profile" aria-selected="false">New user</a>
                                </li>
                            </ul>
                            <div class="tab-content modal-content" id="myTabContent">

                                <div class="tab-pane fade show active" id="userTable" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="col-sm-12">
                                        <h4>
                                            All users
                                        </h4>
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>email</th>
                                                <th>role</th>
                                                <th>edit</th>
                                                <th>delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${users}">
                                                <td th:utext="${user.id}">...</td>
                                                <td th:utext="${user.email}">...</td>
                                                <td th:text="${#strings.setJoin(user.getAuthorities, ', ')}">...</td>

                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-info" data-toggle="modal"
                                                            th:attr="data-target=${'#editModal'+user.id}">
                                                        Edit
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" th:object="${user}"
                                                         th:attr="id=${'editModal' + user.id}"
                                                         tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                                                         aria-hidden="true">

                                                        <form method="post"
                                                              th:action="@{admin/user-update/{id}(id=${user.id})}"
                                                              th:object="${user}">

                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="editModalLabel">Edit
                                                                            user</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body" align="center">
                                                                        <div class="row justify-content-center">
                                                                            <div class="col-sm-5 aria-controls">


                                                                                <!-- id input -->
                                                                                <div class="form-outline mb-4">
                                                                                    <strong><label class="form-label"
                                                                                                   for="id">ID</label></strong>
                                                                                    <input class="form-control"
                                                                                           name="id" type="number"
                                                                                           th:value="${user.id}" id="id"
                                                                                           placeholder="id" disabled>
                                                                                </div>
                                                                                <!-- Email input -->
                                                                                <div class="form-outline mb-4">
                                                                                    <strong><label class="form-label"
                                                                                                   for="email">Email
                                                                                        address</label> </strong>
                                                                                    <input class="form-control"
                                                                                           name="email" type="email"
                                                                                           th:value="${user.email}"
                                                                                           id="email"
                                                                                           th:placeholder="email">
                                                                                </div>
                                                                                <div class="form-outline mb-4">
                                                                                    <strong><label class="form-label"
                                                                                                   for="password">Password</label>
                                                                                    </strong>
                                                                                    <input class="form-control"
                                                                                           name="password"
                                                                                           type="password" value=""
                                                                                           id="password" placeholder="">
                                                                                </div>
                                                                                <div class="form-outline mb-4">
                                                                                    <strong><label class="form-label"
                                                                                                   for="editRoles">Role</label>
                                                                                    </strong>
                                                                                    </br>
                                                                                    <select class="custom-select"
                                                                                            size="2" name="editRoles"
                                                                                            id="editRoles" multiple>
                                                                                        <option value="ROLE_ADMIN">
                                                                                            ADMIN
                                                                                        </option>
                                                                                        <option selected
                                                                                                value="ROLE_USER">USER
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                                </br>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <input type="submit" class="btn btn-primary"
                                                                               value="EDIT"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </td>

                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                            th:attr="data-target=${'#delModal'+user.id}"
                                                            data-row="${user}">
                                                        Delete
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" th:object="${user}"
                                                         th:attr="id=${'delModal' + user.id}"
                                                         tabindex="-1" role="dialog" aria-labelledby="delModalLabel"
                                                         aria-hidden="true">

                                                        <form th:method="DELETE"
                                                              th:action="@{/admin/{id}(id=${user.id})}">

                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="delModalLabel">
                                                                            Delete user</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body" align="center">
                                                                        <div class="row justify-content-center">
                                                                            <div class="col-sm-5 aria-controls">
                                                                                <!-- Id input -->
                                                                                <div class="form-outline mb-4">
                                                                                    <strong><label class="form-label"
                                                                                                   for="delId">ID</label></strong>
                                                                                    <input class="form-control"
                                                                                           type="text" id="delId"
                                                                                           th:placeholder="${user.id}"
                                                                                           disabled>
                                                                                </div>
                                                                                <!-- Email input -->
                                                                                <div class="form-outline mb-4">
                                                                                    <strong><label class="form-label"
                                                                                                   for="delEmail">Email
                                                                                        address</label></strong>
                                                                                    <input class="form-control"
                                                                                           type="text" id="delEmail"
                                                                                           th:placeholder="${user.email}"
                                                                                           disabled>
                                                                                </div>
                                                                                <div class="form-outline mb-4">
                                                                                    <strong><label class="form-label"
                                                                                                   for="delRole">Role</label></strong>
                                                                                    </br>
                                                                                    <select class="custom-select"
                                                                                            size="2" name="delRole"
                                                                                            id="delRole" multiple
                                                                                            disabled>
                                                                                        <option value="ROLE_ADMIN">
                                                                                            ADMIN
                                                                                        </option>
                                                                                        <option value="ROLE_USER">USER
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                                </br>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <input type="submit" class="btn btn-danger"
                                                                               value="DELETE"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        </br>
                                        </br>
                                    </div>
                                </div>
                                <!--                        Страница добавления юзера-->
                                <div class="tab-pane fade" id="addUser" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="col-sm-12">
                                        <h4>
                                            Add new user
                                        </h4>
                                    </div>
                                    <div align="center">
                                        <div class="col-sm-3 aria-controls">
                                            <form method="post" th:action="@{/admin/users-add}"
                                                  th:object="${userForAdd}">
                                                <!-- Email input -->
                                                <div class="form-outline mb-4">
                                                    <strong><label class="form-label" for="emailAdd">Email
                                                        address</label></strong>
                                                    <input type="email" th:field="${userForAdd.email}" id="emailAdd"
                                                           class="form-control">
                                                </div>
                                                <!-- Password input -->
                                                <div class="form-outline mb-4">
                                                    <strong><label class="form-label" for="passwordAdd">Password</label></strong>
                                                    <input type="password" th:field="${userForAdd.password}"
                                                           id="passwordAdd" class="form-control">
                                                </div>
                                                <div class="form-outline mb-4">
                                                    <strong> <label class="form-label">Role</label></strong>
                                                    </br>
                                                    <select class="custom-select" size="2" name="roleForAdd"
                                                            id="roleForAdd" multiple>
                                                        <option value="ROLE_ADMIN">ADMIN</option>
                                                        <option selected value="ROLE_USER">USER</option>
                                                    </select>
                                                </div>
                                                <input class="btn btn-success" type="submit" value="Add new user">
                                            </form>
                                            </br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="v-pills-userInfo" role="tabpanel" aria-labelledby="profile-tab">

                            <h3>
                                User information-page
                            </h3>
                            <br>
                            <div class="tab-content modal-content" id="myTabContentUser">

                                <div class="tab-pane fade show active" id="userTableUser" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="col-sm-12">
                                        <h4>
                                            About user
                                        </h4>
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>email</th>
                                                <th>role</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td th:utext="${authorityUser.id}">...</td>
                                                <td th:utext="${authorityUser.email}">...</td>
                                                <td th:text="${#strings.setJoin(authorityUser.getAuthorities, ', ')}">...</td>
                                            </tr>
                                            </tbody>

                                        </table>
                                        </br>
                                        </br>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>


            </div>


        </div>
    </div>
</div>

</body>
</html>